@import "~/node_modules/bootstrap/scss/bootstrap";

html, body {
    margin: 0;
    padding: 0;
    background-color: #c0c0c029;
    a {
        color: black;
        text-decoration: none;
    }
}

@mixin truncate-text($line : 1) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@import './header';
@import './home';
@import './post';
@import './footer';